body {
  color: white;
  font-size: 12px;
  font-family: Roboto;
}
#cont {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #000000;
  background-size: cover;
  z-index: -9999;
}
.pc {
  background-color: #FACA04;
  padding: 1px 20px 1px 20px;
  color: black;
  font-weight: bold;
  font-size: 72px;
}
.mr {
  padding: 30px 25px 30px 25px;
  border-right: 6px solid #FACA04;
  margin-right: 15px;
  font-size: 72px;
  font-weight: 300;
}
div.left {
  float: left;
}
div.right {
  float: left;
  font-size: 50px;
  line-height: 45px;
  font-weight: 300;
}
div.right #glory {
  font-weight: 100;
}
#text {
  position: fixed;
  width: 900px;
  top: -500px;
  left: -500px;
}
#text * {
  cursor: move;
}
#options-help {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.wrapper {
  width: 145px;
  text-align: center;
}
canvas {
  width: 100%;
  background: hsl(0, 0%, 50%);
  border-radius: 50%;
  cursor: pointer;
}
@media screen and (max-width: 481px) {
  .pc {
    font-size: 23px;
    padding: 2px 10px 3px 10px;
  }
  .mr {
    font-size: 20px;
    padding: 15px 10px 15px 5px;
    border-right: 4px solid #FACA04;
    margin-right: 5px;
  }
  div.right {
    font-size: 20px;
    line-height: 15px;
  }
  #text {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}
